[user]
	email = martin.petr.276@gmail.com
	name = Martin Petr

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
	
[core]
	# Use custom `.gitignore`
	excludesfile = ~/.gitignore

[credential]
	helper = cache --timeout=3600